<!-- this below line is linking the css folder which is in css folder in that it is specifying the user_profile file -->
<!-- p tag is just for paragraph and we are just printing that as to appear in that page when we click sign up and sign in -->


<!-- this heading will be appeared in that profile page and consist of name and email -->
<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>

        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
