<h1>Sign In</h1>


                    <!-- SIGN IN PAGE -->
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="your_Email"  required>
    <input type="password" name="password" placeholder="your_Password"  required>
    <input type="submit" value="Sign In">

</form>